html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

*::selection {
    background: deeppink;
    color: white;
}

#menu>a {
    transition: opacity 0.7s;

}

#menu:hover a:not(:hover) {
    opacity: 0.4;
}

@keyframes example {
    from {
        border-width: 0px;
    }

    to {
        border-width: -3px;
        -webkit-box-shadow: 0px 5px 30px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 5px 30px 1px rgba(0,0,0,0.2);
        box-shadow: 0px 5px 30px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
        box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
        bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle {
        border-radius: 50%;
        margin-top: 0.4rem;
        margin-bottom: 0.7rem;
        width: 9rem !important;
        height: 9rem;
        background: #c081ff;
    }
}

@media only screen and (min-width: 601px) {
    .circle {
        margin-top: 3.5rem;
        border-radius: 50%;
        width: 6rem !important;
        height: 6rem;
        background: #c081ff;
    }
}


.button {
    color: black;
    flex: 0 0 auto;
    margin: 20px;
}

    .button:hover {
        border-style: solid;
        color: black;
        border-color: black;
        animation-name: example;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        height:63px;
    }

h1, h2, h3, h4, h5, h6, p {
    line-height: 180%;
}

h6 {
    line-height: 120%;
    font-weight: 300;
}



ul {
    list-style-image: url("../fonts/ic_favorite_border_24px.svg");
    font-size: 1.1em;
    font-weight: bold;
}

.black_ {
    width: 100%;
    border-style: solid;
    border-width: 5px;
    color: black;
}

#list {
    letter-spacing: 2px;
    font-size: 1.4em;
    line-height: 28px;
}

h5 {
    font-size: 1.4em;
    font-weight: lighter;
}

hr {
    border-style: solid;
    border-width: 2px;
}

.header {
    font-weight: lighter;
    letter-spacing: 0.5px;
}

._header {
    font-weight: lighter;
    letter-spacing: 1.5px;
}


.mid {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.story{
    text-indent: 1.5rem;
}

@keyframes center_menu_element {
    from {
        bottom: 0px;
    }

    to {
        bottom: 3px;
    }
}

.button:hover > .menu_item {
    position: relative;
    animation-name: center_menu_element;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        transform: translateY(.4em);
        opacity: 0;
    }
}

.header_text {
   animation : 1s .35s fade backwards ease-out;
}

@keyframes fade_buttons {
    0% {
        transform: translateY(.4em);
        opacity: 0;
    }
}

.header_buttons {
    animation: 1s .75s fade_buttons backwards ease-out;
}

@keyframes divider {
    0% {
        transform: translateX(.4em);
        width: 0%;
        opacity: .1;
    }
    100% {
        transform: translateX(-.4em);
        width: 100%;
        opacity: 1;
    }
}

.divider {
    animation: 1.5s .75s divider backwards ease-out;
}

@keyframes content {
    0% {
        transform: translateY(4.5em);
        opacity: 0;
    }

}

#About, #Portfolio, #Blog {
    animation: 1.3s .3s content backwards ease-out;
}

footer {
    width: 100% !important;
    background-color: black !important;
    color: white;
}
footer>.container>.row{
     margin-bottom:0px !important;
 }


.bar {
    background-color: royalblue;
    margin-bottom:2.3rem;
    height:2.6rem;
    color: white;
}

@media only screen and (max-width: 600px) {
    .bar {
        background-color: royalblue;
        margin-bottom: 2.7rem;
        font-size:smaller;
        font-weight:500;
        height: 2.6rem;
        color: white;
    }

}
@media only screen and (min-width: 600px) {
    .bar {
        background-color: royalblue;
        margin-bottom: 2.7rem;
        height: 2.3rem;
        color: white;
    }
}

@keyframes bar1 {
    0% {width:0%;}
    100% {width: 90%;}
}
.bar:nth-last-child(5) {
    animation: 2.5s .3s bar1 backwards ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar2 {
    0% {width:0%;}
    100% {width: 70%;}
}
.bar:nth-last-child(4) {
    animation: 2.5s .3s bar2 backwards ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar3 {
    0% {width:0%;}
    100% {width: 60%;}
}
.bar:nth-last-child(3) {
    animation: 2.5s .3s bar3 backwards ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar4 {
    0% {width:0%;}
    100% {width: 80%;}
}
.bar:nth-last-child(2) {
    animation: 2.5s .3s bar4 backwards ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar5 {
    0% {width:0%}
    100% {width: 50%;}
}
.bar:last-child {
    animation: 2.5s .3s bar5 backwards ease-out;
    animation-fill-mode: forwards;
}

.bar>p:nth-child(odd){
    letter-spacing:4px;
    font-weight:bolder;
    margin-left:2rem;
}
.bar>p:nth-child(even){
    letter-spacing:2px;
    margin-left:1rem;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -47vw;
}

.parallax0 {
    background-image: url("/fonts/nsfw.png");
    height: 200px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("/fonts/hinczyk.png");
    height: 200px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("/fonts/asteroids.PNG");
    height: 200px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("/fonts/jump.PNG");
    height: 200px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}