<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Jakub Wichlinski, my private site to store projects and blog posts, mostly IT, gamedev, and webdev.">
	<meta lang="en-gb" />
	<link rel="shortcut icon" type="image/x-icon" href="~/fonts/favicon.ico" />
	<link rel="publisher" href="http://www.linkedin.com/in/jakubwichlinski">
	<link rel="me" href="http://www.linkedin.com/in/jakubwichlinski" type="text/html">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<environment exclude="Development">
		<link rel="canonical" href="https://jakub.wichlinski.pl/">
		<link rel="index" href="https://jakub.wichlinski.pl/">
		<link rel="first" href="https://jakub.wichlinski.pl/">
		<meta name="theme-color" content="#fff">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="keywords" content="jakub, wichlinski, wichliński, kuba, IT, programming, c#, webdev, frontend, fullstack, coder, programmer, warsaw, poland, gamedev, unity" />
		<meta name="rating" content="safe for kids">
		<meta name="apple-mobile-web-app-title" content="Jakub Wichlinski">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta property="fb:app_id" content="485881775143313">
		<meta property="og:title" content="Jakub Wichlinski" />
		<meta property="og:url" content="https://jakub.wichlinski.pl/" />
		<meta property="og:description" content="Jakub Wichlinski, my private site to store projects and blog posts, mostly IT, gamedev, and webdev.">
		<meta property="article:author" content="Jakub Wichliski">
		<meta property="og:image" content="https://asanablog-wpengine.netdna-ssl.com/wp-content/post-images/code-review-image-1024x520@2x.jpg">
		<meta property="og:locale" content="en_US">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@@KubaWichlinski">
		<meta name="twitter:creator" content="@@KubaWichlinski">
		<meta name="twitter:url" content="https://jakub.wichlinski.pl/">
		<meta name="twitter:title" content="Jakub Wichlinski">
		<meta name="twitter:description" content="Jakub Wichlinski, my private site to store projects and blog posts, mostly IT, gamedev, and webdev.">
		<meta name="twitter:image" content="https://asanablog-wpengine.netdna-ssl.com/wp-content/post-images/code-review-image-1024x520@2x.jpg">
		<link rel="me" href="mailto:kubawich45@gmail.com">
		<link rel="manifest" href="~/manifest.json">
		<base href="https://jakub.wichlinski.pl/">
	</environment>
	<title>Jakub Wichlinski</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen,projection" />
	<link href="css/site.css" rel="stylesheet" />
</head>
<body>
<script>
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', function () {
			navigator.serviceWorker.register('./js/sw.js').then(function (registration) {
				console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function (err) {
				console.log('ServiceWorker registration failed: ', err);
			});
		});
	}
</script>
	<script  src="~/js/riot.min.js"></script>
	<div class="container">
		@RenderBody()
	</div>
	<br />
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer</h5>
					<p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://jakub.wichlinski.pl/CV.pdf" target="_blank" rel="noreferrer">CV</a></li>
						<li><a class="grey-text text-lighten-3" href="http://www.linkedin.com/in/jakubwichlinski" target="_blank" rel="noreferrer">LinkedIn</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UC8ojD7gMlvd54-YGf2fR3Ag?view_as=subscriber" target="_blank" rel="noreferrer">YouTube</a></li>
						<li><a class="grey-text text-lighten-3" href="https://twitter.com/KubaWichlinski" target="_blank" rel="noreferrer">Twitter</a></li>
					</ul>
				</div>
			</div>
				<div class="footer-copyright">
					<div class="container">
						© 2018 <a href="https://www.linkedin.com/in/jakubwichlinski/" rel=”noopener noreferrer”>Jakub Wichliński</a> All rights reserved
						<a class="grey-text text-lighten-4 right" href="#top">Go to top</a>
					</div>
				</div>
			</div>
	</footer>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-118146059-1"></script>
	<script defer>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-118146059-1');
	</script>
	<script src="~/js/sw.js" async></script>
	<!--<script src="js/materialize.min.js"></script>-->
	<script  src="js/site.js"></script>
</body>
</html>
